.main {
  background-color: grey;
  border-radius: 5px;
  padding-top: 30px;
}

.main h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 70px;
}

.main p {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}

.image {
  background-color: white;
  width: 1450px;
  margin-left: 25px;
}

.image img {
  padding-left: 200px;
  padding-top: 50px;
}

.master {
  text-align: center;
  color: white;
}
